<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Plantilla</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
    <header th:fragment="header">

       <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
            <div class="container">
                <a th:href="@{/}" class="navbar-brand">MarketPlace</a>
                <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul sec:authorize="isAuthenticated()" class="navbar-nav">
                        <li class="nav-item px-2">
                            <a th:href="@{/deuda/listado}" class="nav-link active">Inicio</a>
                        </li>
                    </ul>
                    <ul sec:authorize="isAuthenticated()" class="navbar-nav ml-auto justify-content-end">
                        <li class="nav-item mr-3 justify-content-end">
                            <a href="#" class="nav-link justify-content-end">
                                <i class="fas fa-user"></i>
                                <span th:text="Bienvenido">Bievenido:</span>
                                <span sec:authentication="name">Usuario</span>
                            </a>
                        </li>
                        <li class="nav-item justify-content-end">
                            <form method="POST" th:action="@{/logout}">
                                <a th:href="@{/logout}" onclick="this.parentNode.submit();" class="nav-link">
                                    <i type="submit" class="fas fa-user-times"> Cerrar Sesion</i>
                                </a>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>