<!DOCTYPE html>
<html lang="en">
<head th:replace="Layout/plantilla :: head">
    <title>Deudas</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <header th:replace="Layout/plantilla :: header"></header>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Lista de deudas</h4>
                    </div>
                    <div th:if="${deudas != null and !deudas.empty}">
                        <table class="table table-stryped">
                            <thead class="thead-dark">
                            <tr>
                                <th>#</th>
                                <th>Vendedor</th>
                                <th>Valor</th>
                                <th>Precio</th>
                                <th>Fecha</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="deuda, contador : ${deudas}">
                                <td>[[${contador.count}]]</td>
                                <td>[[${deuda.vendedor}]]</td>
                                <td>[[${deuda.valor}]]</td>
                                <td>[[${deuda.precio}]]</td>
                                <td>[[${deuda.fechaCreacion}]]</td>
                                <td>
                                    <a th:href="@{/deuda/comprar/} + ${deuda.idDeuda}" class="btn btn-dark">
                                        <i class="fas fa-angle-double-right"></i> Comprar
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center p-2" th:if="${deudas == null or deudas.empty}">
                        <span>Lista vacía</span>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
        <a th:href="@{/deuda/crear}" class="btn btn-success btn-block col-md-4 justify-content-center" value="Publica tu deuda"/>Publica tu deuda!!</a>
    </div>
</body>
</html>