<!DOCTYPE html>
<html lang="en">
<head th:replace="Layout/plantilla :: head">
    <title>Inicio</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <header th:replace="Layout/plantilla :: header"></header>
    <div class="container-fluid">
        <img class ="img-fluid" src="https://www.aden.org/files/sites/9/2020/09/deuda.png" alt="" style="height: 100%; width: 100%; filter: brightness(0.5);">
        <div class="container" style="width: 40%; position: absolute; bottom:45%; right: 10%;">
            <div class="text-end" style="color: white; font-size: xx-large;">
                <h1><b>Que la deuda la pague otro</b></h1>
            </div>
            <div class="text-end" style="color: white; font-size:x-large;">
                ¡Conectá con empresas profesionales en cobranza y vendé las deudas que tengas problemas en cobrar!
            </div>
            <br>
            <div class="container" style="padding-left: 40%;">
                <a th:href="@{/auth/login}" class="btn btn-success btn-block col-md-4">Iniciar Sesion</a>
                <a th:href="@{/auth/registro}" class="btn btn-secondary btn-block col-md-4">Registrarse</a>
            </div>
        </div>
    </div>

</body>
</html>