<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="Layout/plantilla :: head">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Registro</title>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header"><h4>Perfil</h4></div>
                    <div class="card-body">
                        <form th:action="@{/usuario}"th:object="${usuario}"method="GET">
                            <div class="row form-group">
                                <label class="col-md-3">Username</label>
                                <input type="text"class="form-control col-md-7"th:field="*{userName}"/>
                            </div>
                            <br>
                            <div class="row form-group">
                                <label class="col-md-3">Email</label>
                                <input type="text"class="form-control col-md-7"th:field="*{email}"/>
                            </div>
                            <br>
                            <div class="row form-group">
                                <label class="col-md-3">Cuit</label>
                                <input type="text"class="form-control col-md-7"th:field="*{cuit}"/>
                            </div>
                            <br>
                            <div class="row form-group">
                                <label class="col-md-3">Saldo</label>
                                <input type="text"class="form-control col-md-7"th:field="*{saldo}"/>
                            </div>
                            <br>
                            <div class="row form-group hstack gap-2 justify-content-lg-center">
                                <a th:href="@{/usuario/actualizar}" class="btn btn-dark btn-block col-md-4">Actualizar Saldo</a>
                                <a th:href="@{/deuda/listado}" class="btn btn-info btn-block col-md-4">Regresar</a>
                                <a th:href="@{/usuario/compras}" class="btn btn-success btn-block col-md-4 justify-content-center" value="Regresar"/>Compras</a>
                                <a th:href="@{/usuario/ventas}" class="btn btn-secondary btn-block col-md-4 justify-content-center" value="Regresar"/>Ventas</a>
                            </div>
                        </form >
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <footer th:fragment="footer" class = "d-flex align-content-center justify-content-center align-items-center bg-black pt-3 pb-3" >
        <p class="m-0 text-center text-white">Copyright © Tomas Zocchi 2022</p>
    </footer>
</body>
</html>